@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,900,500,300italic);

body {
	background-color: #d5e8e5;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

#background_landing {
	background: url(../images/overcoats-dcondren-final-70.jpg) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
  box-sizing: border-box;
  background-color: #d5e8e5;
	height: 1500px;
	width: 100%;
  margin: 0;
}

#life {
  background: url(../images/sunglasses.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 800px;
}

nav {
	position: fixed;
  right: 0;
}

h1 {
	padding-top: 40px;
	padding-bottom: 40px;
  padding-left: 40px;
	font-size: 3.2em;
	font-weight: 300;
  font-style: light;
  font-stretch: ultra-expanded;
}

h2 {
  padding: 10px;
  font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #f5efd0;
	cursor: pointer;
}

a.press {
  color: #000;
  font-size: 2em;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 64px;
  z-index: -1;
}

ul {
  display: inline-block;
}

li {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

p {
  width: 87%;
  margin-left: 40px;
}

div {
  overflow: auto;
}

form {
  display: inline-block;
}

input {
  margin: 20px 0px 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: inline-block;
  width: 150px;
  height: 30px;
  padding: 10px;
}

#email {
  margin: 20px 0px 20px 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  display: inline-block;
  width: 200px;
  height: 30px;
  padding: 10px;
}

iframe {
  width: 44%;
  height: 355px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  margin-left: 20px;
}

span {
  font-weight: 300;
}

table {
  margin-left: 40px;
  border-collapse: collapse;
  width: 89%;
}

tr {
  padding: 10px;
}

td {
  padding: 10px;
}

input[type=text]:focus{
  outline: none;
  border: solid 2px #000;
}

input[type=email]:focus{
  outline: none;
  border: solid 2px #000;
}

input[type=submit]:hover{
  border: solid 2px #000;
}

input[type=submit]: {
  border: solid 2px #000;
}

.body-image {
  width: 89%;
  height: 700px;
}

.bttn {
     color: #000;
     background-color: #f5efd0;
     border-color: #000;
     margin-bottom: 0;
     font-size: 1em;
     line-height: 1.5;
     text-align: center;
     vertical-align: middle;
     cursor: pointer;
     border: 1px solid transparent;
     border-radius: 4px;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -o-user-select: none;
     user-select: none;
     font-weight: 300;
     font-style: light;
     font-family: 'Roboto', sans-serif;
     width: 175px;
     height: 55px;
     margin: 20px 0px 20px 20px;
     padding: 10px;
}

.connect-body {
  width: 89%;
  height: 90%;
}

.connect {
  float: left;
  clear: after;
  margin: 20px 40px 20px 0px;
}

.form {
  float: left;
  display: block;
  width: 18%;
}

.mainFrame {
  width: 89%; 
  height: 700px;
} 

.mailing {
  position: fixed;
  bottom: 0;
  background-color: #d5e8e5;
  width: 100%;
  height: 10%;
  visibility: hidden;
  display: inline-block;
}


.mobile-menu div {
  position: absolute;
  left: 100%;
  top: 64%;
  padding-right: 8px;
  margin-top: -0.50em;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 200;
  vertical-align: middle;
  z-index: 99;
}

.mobile-menu span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  background: rgb(0,0,0);
  z-index: 99;
}

.mobile-menu{
  display: none;
}

.menu-btn div {
 position: absolute;
 left: 100%;
 top: 64%;
 padding-right: 8px;
 margin-top: -0.50em;
 line-height: 1.2;
 font-size: 18px;
 font-weight: 200;
 vertical-align: middle;
 z-index: 99;
}
 
.mobile-span {
 display: block;
 width: 20px;
 height: 5px;
 margin: 4px 0;
 background: #000;
}
 
.responsive-menu{
 display: none;
}

.tour-content {
  border: 1px solid rgba(150,150,150,0.22);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.tour-image {
  width: 33%;
  height: 500px;
}

.tour-slideshow {
  display: block;
  float: left;
  padding-left: 20px;
  width: 89%;
  cursor: pointer;
}

.pressBox {
  width: 28%;
  height: 400px;
  float: left;
  border: #000 solid 1px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  z-index: 1;
  position:relative;
}

.pressBoxAdded {
  width: 28%;
  height: 200px;
  float: left;
  border: #000 solid 1px;
  margin: 10px 10px 10px 10px;
  cursor: pointer;
  z-index: 1;
  position:relative;
}

.overlay {
  position: absolute;
  /*content:" ";*/
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  background: rgba(255, 255, 255, 0.6); 
}

.pressBox:hover .overlay,
.pressBoxAdded:hover .overlay{
  opacity: 1;
}

.clear {
	overflow: auto;
}

@media only screen and (min-width: 1024px) and (max-width: 1215px) {
  input {
    margin: 15px 0px 15px 15px;
    width: 125px;
    padding: 10px;
  }

  #email {
    width: 175px;
    margin: 15px 0px 15px 15px;
    padding: 10px;
  }

  input.bttn {
    margin: 15px 0px 15px 15px;
    width: 125px;
    padding: 10px;
  }

  label {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 18px;
  }

  input {
    width: 100px;
    margin: 5px 0px 5px 5px;
    padding: 5px;
  }

  input.bttn {
    width: 110px;
    margin: 5px 0px 5px 5px;
    padding: 5px;
  } 

  input#email {
    width: 130px;
    margin: 5px 0px 5px 5px;
    padding: 5px;
  }

  label {
    margin-left: 5px;
  }

  p {
    width: 81%;
  }

  .body-image {
    width: 85%;
    height: 550px;
  }

  .mailing {
    width: 100%;
  }

  .pressBox {
  width: 26%;
  height: 350px;
  }

  .pressBoxAdded {
    width: 26%;
  }

  .tour-slideshow {
    width: 85%;
  }

  .tour-image {
    width: 50%;
  }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
  body {
    font-size: 16px;
  }

  input {
    width: 150px;
    margin: 20px 20px 20px 20px;
    padding: 10px;
  }

  input.bttn {
    width: 150px;
    margin: 20px 0px 20px 20px;
    padding: 10px;
  } 

  input#email {
    width: 175px;
    margin: 20px 0px 20px 20px;
    padding: 10px;
  }

  form {
    display: block;
  }

  label {
    margin-left: 20px;
  }

  p {
    width: 78%;
  }

  table {
      width: 78%;
  }

  .body-image {
    width: 83%;
    height: 500px;
  }

  .pressBox {
  width: 37%;
  height: 250px;
  }

  .pressBoxAdded {
    width: 37%;
  }

  .mailing {
  height: 20%;
  }

  .tour-slideshow {
    width: 83%;
  }

  .tour-image {
    width: 50%;
  }
}

@media only screen and (max-width: 567px) {
    body {
      font-size: 14px;
    }


    p {
      width: 72%;
    }

    table {
      width: 72%;
    }

    .body-image {
    width: 78%;
    height: 400px;
    } 

    .pressBox {
    width: 37%;
    height: 250px;
    }
    
    .pressBoxAdded {
      width: 37%;
    }
    .tour-slideshow {
    width: 78%;
    }

   .tour-image {
    width: 100%;
    }

  }
